.bp-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f1f2f4;
    transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth hover effect */
}

@keyframes levitate {
    from {
        box-shadow: 0 0 0 #888888;
    }
    to{
        box-shadow: 10px 10px 8px #888888;
    }
}

.bp-card:hover{
    animation: levitate 1s ease-in;
    box-shadow: 10px 10px 8px #888888;
}

.bp-card-image {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* .bp-card-image:hover{
    scale: 1.1;
} */

.bp-card-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.bp-card-price {
    margin-top: 5px;
    font-size: 1em;
    color: #555;
}

.bp-card-name {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.bp-card-rating {
    /* margin-bottom: 5px; */
    font-size: 0.9em;
    color: #888;
    display: flex;
    align-items: center;
}

.bp-card-rating-number{
    padding: 0 0 0 5px;
    margin-top: 5px;
}

.bp-star-rating i {
    color: #FFD700;
    margin: 10px 2px 2px 0;
    
}

@media (max-width: 480px) {
    .bp-card-image {
        max-width: 150px;
        max-height: 150px;
    }
}

@media (max-width: 320px) {
    .bp-card-image {
        max-width: 100px;
        max-height: 100px;
    }
}