@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.app {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    0% {
        background-color: black;
        opacity: 0;
    }

    100% {
        background-color: white;
        opacity: 1;
    }
}