.h-service-main{
    padding-bottom: 3rem;
}

.h-services {
    width: auto;
    padding: 80px;
    /* padding-bottom: 50px; */
    height: auto;
    background: linear-gradient(to bottom, #e6dfe6, rgba(255, 255, 255, 1));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: 8vh; */
    gap: 7vh;
}

.h-services-items {
    display: flex;
    gap: 4vh;
    justify-content: center;
    align-items: center;
}

.h-services-items img {
    height: 10vh;
    width: 10vh;
}

.h-services-items p {
    /* font-family: "Ubuntu", sans-serif; */
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 650px) {
    .h-services{
        padding: 20px;
    }

    .h-services-items p {
        /* font-family: "Ubuntu", sans-serif; */
        font-size: 15px;
        font-weight: 600;
    }
}

@media (max-width: 850px) {
    .h-services{
        padding: 20px;
    }

    .h-services-items p {
        /* font-family: "Ubuntu", sans-serif; */
        font-size: 15px;
        font-weight: 600;
    }
}