<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            width: 100vw;
            height: 50vh;
        }

        #reset-password-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            width: 300px;
        }

        #reset-password-form div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 300px;
            gap: 5px;
        }

        .error {
            color: red;
            justify-content: center !important;
        }
    </style>
</head>

<body>
    <main>
        <h3>Reset Password for <%= email %>
        </h3>
        <form id="reset-password-form" action="/reset-password/<%= id %>/<%= token %>" method="POST">
            <div>
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br>
            <div>
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <br>
            <button type="submit">Reset Password</button>
            <div class="error-container">
                <div class="error" id="error-message"></div>
            </div>
        </form>
    </main>

    <script>
        document.getElementById('reset-password-form').addEventListener('submit', function (event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            const errorMessage = document.getElementById('error-message');

            if (password !== confirmPassword) {
                event.preventDefault();
                errorMessage.textContent = 'Passwords do not match.';
            } else {
                errorMessage.textContent = '';
            }
        });
    </script>
</body>

</html>