.h-banner {
    padding: 3rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;

    z-index: 5;
}

.hb-item {
    height: auto;
    width: auto;

    display: flex;
    align-items: flex-start;
    justify-content: start;

    box-shadow: 10px 10px 8px #070515;
}

.hb-item img {
    height: 70vh;
    width: auto;
}

.hb-item .b-text {
    position: absolute;
    color: #f1f2f4;

    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* CSS */
.b-btn {
    color: white;
    padding-top: 3rem;
    font-size: larger;
    font-weight: 300;

    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 5px 7px -1px, rgba(0, 0, 0, .14) 0 8px 12px 0, rgba(0, 0, 0, .12) 0 3px 20px 0;
    box-sizing: border-box;
    /* color: #879198; */
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 20px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.b-btn:hover {
    /* background: #F6F9FE;
    color: #174ea6; */
    scale: 0.97;
}

.b-btn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.b-btn:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.b-btn:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.b-btn:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.b-btn:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.b-btn:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.b-btn:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}






@media (max-width: 620px) {
    .hb-item img {
        height: 60vh;
        width: auto;
    }
}

@media (max-width: 560px) {
    .hb-item img {
        height: 40vh;
        width: auto;
    }

    .hb-item .b-text {
        padding: 1rem;

        gap: 4px;
    }

    .b-text h4 {
        font-size: 15px;
    }

    .b-text h1 {
        font-size: 25px;
    }

    .b-text h5 {
        font-size: 12px;
    }

    .b-text .b-btn {
        width: 100px;
        font-size: small;
        font-weight: 300;
    }
}