@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

div .so-item{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

.list-item .side-category{
    font-size: 20px;
}

.sub-list{
    margin-left: 35px;
    line-height: 30px;
}

.crousel-h{
    display: flex;
    justify-content: center;
    align-items: center;
}