.admin-dashboard{
    padding: 2vw;
    background-color: #f1f2f4;
}

.admin-dash-main{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
}

.admin-content{
    width: 80vw;
}

.admin-content-body tr{
    display: flex;
    width: 75vw;
    justify-content: space-between;
}

.admin-content-body thead{
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.admin-content tr th{
    width: 150px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.admin-content tr td{
    width: 150px;
    padding: 5px;

    display: flex;
    justify-content: start;
    align-items: center;
}