.forgotPwd-main{
    height: auto;
    width: 100%;
    background-color: #f1f2f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pwd-reset-form{
    height: auto;
    width: 500px;
    background-color: #ffffff;
    border-style: none;
    border-radius: 18px;
    box-shadow: 8px 8px 10px #8d8d99;
   display : flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   gap: 50px;
   padding-top: 40px;
   padding-bottom: 40px;
}

.new-pwd-input{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* 
