.browsing-page {
    padding: 2vw;
    background-color: #f1f2f4;
}

.browsing-main {
    padding: 1rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: auto;
}

.browsing-main .bp-sidebar {
    width: 15vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: start; */
    gap: 2rem;
}

.bp-sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: start; */
}

.bp-sidebar-content h4 {
    font-weight: 350;
}

.bp-sidebar-content .bp-sidebar-list .bp-sider-list-item {
    font-weight: 300;
}

.bp-sidebar-content .bp-sidebar-list {
    padding-left: 15px;

    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.bp-sidebar-range .bp-form-label,
span,
div {
    font-weight: 300;
}

.bp-sidebar-content .bp-sidebar-range {
    padding-left: 15px;
}

.bp-form-value .bg-value-points {
    font-size: 12px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 0px;

    color: grey;
}


.browsing-main .browsing-products {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    width: auto;
}

.bp-head {
    padding: 1rem 2rem;
}

.bp-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    /* width: auto; */

    padding: 1rem 2rem;
}

@media (max-width: 990px) {
    .bp-filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 92vw;
        /* width: auto; */

        padding: 1rem 2rem;
    }
}

.bp-card-container {
    width: 79vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 5rem;
}

@media (min-width: 992px) {
    .bp-filter-right .bp-right-mobile {
        display: none;
    }
    .bp-sidebar-sort-section{
        display: none;
    }
}

@media (max-width: 992px) {
    .bp-browsing-sidebar,
    .bp-right-sortby {
        display: none;
    }


    .bp-card-container {
        width: 92vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}