.admin-dashboard .product-box {
     border-style: none;
     border-radius: 20px;
     height: auto;
     width: 450px;
     margin: 30px 8px;
     background-color: #f8f9fa;
     padding: 20px;
}

.admin-dashboard .product_btn {
     height: 50px;
     width: 120px;
     border-style: none;
     border-radius: 10px;
     color: white;
     font-size: 20px;
     background-color: #b98bb9;
}

.admin-dashboard .product-delete-btn {
     /* background-color: #e6dfe6; */
     margin-right: 10px;
}

.admin-dashboard .product-box li {
     list-style: none;
}

.admin-dashboard img {
     height: 100%;
     width: 100%;
     border-style: none;
     border-radius: 15px;
     object-fit: cover;
}

.admin-dashboard .product-img-box {
     margin-bottom: 15px;
     height: 300px;
     width: auto;
     /* padding-top: 0; */
}

.admin-dashboard .product-first-section {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}


.admin-dashboard .product-list-box {
     display: flex;
     flex-wrap: wrap;
}

.admin-dashboard .product-price {
     display: flex;
     flex-direction: row;
     gap: 1px;
     justify-content: center;
     /* align-items: center; */
}

.admin-dashboard .product-price img {
     height: 20px;
     width: 20px;
}

.admin-dashboard .product-pagination {
     /* margin-left: 160px;
     margin-right: 160px; */
     display: flex;
     justify-content: center;
     align-items: center;

}