.h-collections {
    padding: 2.5rem;
}

.h-collections .collection-head{
    padding: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    background-color: white;
    /* box-shadow: 10px 10px 8px #888888; */
}


.collection-item{
    padding: 1rem;
}